body {
	padding: 0;
	font-family: "Helvetica", sans-serif;
	overflow: hidden;
	}

div.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	border: 1px solid rgba(0,0,0,.5);
}

div.bumper {
	height: 100%;
	width: 25%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

div.center {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	margin: 0 auto;
	border-right: 1px solid rgba(0,0,0,.5);
	border-left: 1px solid rgba(0,0,0,.5);
}

div.buttons	{
	background: rgba(0,0,0,.2);
	height: 90%;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: inherit;
	align-items: center;
	justify-content: center;
}

div.forms {
	width: 100%;
	display: none;
	flex-wrap: wrap;
	overflow-y: scroll;
	overflow-x: hidden;
}

div.output {
	height: 90%;
	width: 100%;
	overflow-y: scroll;
}

button.selector {
	display: block;
	margin: auto auto;
	width: 33%;
	height: 64px;
}
	
button.lReturn {
	margin: auto auto;
	width: 100%;
}

.head {
	background: rgba(0,0,0,.3);
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

form {
	width: 25%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: .25em;
}

form>label {
	font-weight: bold;
	background: rgba(0,0,0,.2);
	margin: 0 auto;
	padding-top: .25em;
	padding-left: .25em;
	padding-bottom: .25em;
	width: 100%;
	box-sizing: border-box;
}

input {
	margin: 0 auto;
	background: rgba(255,255,255,.8);
	width: 100%;
}
